.App {
    /* background-color: bisque; */
}

.content {
    min-height: 100vh;
    margin: 0px 10%;
}

* {
    /* border: 2px solid green; */
}

html {
    scroll-behavior: smooth;
}

fieldset {
    border: none;
}

a {
    all: unset;
    cursor: pointer;
    font-weight: 600;
}

button {
    all: unset;
    cursor: pointer;
    font-weight: 600;
}

a:hover,
button:hover {
    font-weight: 900;
    color: gray;
}



input[type="radio"] {
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: #007bff;
    border-color: #006adc;
}