.footer {
    margin-top: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}