.header {
    margin-bottom: 20px;
}

.high-bar {
    display: flex;
    justify-content: space-between;
    align-content: baseline;
}

.welcome-line {
    display: flex;
    align-self: center;
    font-size: 1.5rem;
    padding: 10px;
}

.profile-button {
    display: flex;
    align-self: center;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;

}

.nav-bar {
    display: flex;
}

.nav-tab {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    padding: 12px;
    font-weight: 500;
}

.nav-tab-current {
    font-weight: 600;
    background-color: wheat;
    color: purple;
}