.modal-background {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-base {
    position: absolute;
    cursor: default;
    padding: 40px;
    border-radius: 30px;
    background-color: white;
}

.modal-fieldset {
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.fieldset-legend {
    text-align: center;
}