.post-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.post-item {
    flex: 1 1 calc(33.33% - 20px);
    min-width: 300px;
    max-width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-sizing: border-box;
}

.post-item-header {
    display: flex;
    justify-content: space-between;
}

.post-item-title {}

.post-item-delete-button {}

.post-item-body {}

.post-item-title::first-letter,
.post-item-body::first-letter {
    text-transform: capitalize;
}

.post-item-author {
    text-align: right;
}

.post-item-author-username {
    cursor: pointer;
}

.post-item-author-email {}

.post-item-author-loading {}