.post-list {
    margin: 8px;
    margin-top: 0px;
}

.post-item {
    margin: 8px;
    border: 1px solid grey;
}

.post-item-header {
    display: flex;
    justify-content: space-between;
}

.post-item-title {
    font-size: 2.3rem;
    font-weight: 500;
}

.post-item-body {
    font-size: 1.5rem;
}

.post-item-title::first-letter,
.post-item-body::first-letter {
    text-transform: capitalize;
}

.post-item-author {
    text-align: right;
    font-size: 1.3rem;
}

.create-post-btn {
    position: fixed;

    bottom: 40px;
    right: 40px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
}

.post-item-author-email {}

.post-item-author-loading {}

.post-item-delete-button {}